# PostgreSQL настройки
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auto_parts_db

# Для Docker: используйте 'postgres' (имя сервиса)
# Для локального запуска: используйте 'localhost'
DB_HOST=postgres
DB_PORT=5432

# Порт приложения
APP_PORT=4200
